[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CamelRatiosIndex"]
	path = CamelRatiosIndex
	url = https://github.com/jc-ayimah/camelratiosindex
